.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  
}

.card {
  border: 1px solid #872341;
  background-color: #E17564;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

.card .card-image {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  gap: 20px;
}

.button-menu {
  all: unset;
  cursor: pointer;
  max-width: 100%;
  max-height: 200px;
  
}


.invoice {
  background-color: #E17564;
}

.customer {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 15% 70% 15%;
  margin: 2px;
}

.customer .customer-icon {
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  display: flex;
  max-height: 60px;
}

.icon-large {
  width: 25px;
  height: 25px;
  padding-top: 15px;
}

.customer .customer-name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cust-name {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 10px 10px;
}


.icon-name {
  font-size: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.customer .select-icon {

  max-height: 60px;
}

.dinein {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;  
  height: 40px;
  margin: 2px;
}

.dropdown { 
  margin-left: 10px;
}

.dine-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.container-menu {
  margin: 2px;
}

.order {
  display: grid;
  grid-template-columns: 60% 15% 25%;
  grid-template-rows: 40px auto;
  
}

.order .menu {
  padding-left: 10px;
  margin: 0;
}

.order .menu a {
  text-decoration: none;
  color: #111
}

.order .price a {
  text-decoration: none;
  color: #111;
}

.menu p {
  font-weight: bold;
}

.no-table {
  text-decoration: none;
}

.order .quantity {
  padding: 10px;
}

.order .price {
  text-align: right;
  padding: 10px;
}

.clear {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  border: 1px solid #fff;
}

.blank-space {
  height: 30px;
  border: 1px solid #fff;
}

.btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #fff;
  height: 40px;
}

.btn button {
  cursor: pointer;
  background-color: #872341;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  margin: 0px 2px 0px 0px;
}

.btn-charge {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 50px;
  border: 1px solid #fff;
}

.btn-icon {
  display: grid;
  text-align: center;
  justify-content:center;
  color: white;
  cursor: pointer;
  background-color: #09122C;
  border: none;
  margin: 0px 2px 0px 0px;
}

.icon-charge {
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
}

.charge {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  background-color: #09122C;
  border: none;

}